include ../../components/list/list.pug
include ../../components/sorts-item/sorts-item.pug

+block-line("02/","ПромТехХолод - это большой выбор климатического оборудования.")
    | Разновидности кондиционеров
.sorts 
    .container.sort__container
        +list(sorts)
            +sorts-item(val)