include ../../components/list/list.pug
include ../../components/group-item/group-item.pug

+block-line("05/",'Компания "ПРОМТЕХХОЛОД" готова предложить широкий спектр услуг по проектированию, удобной доставке, монтажу.')
    | О компании  "ПРОМТЕХХОЛОД" 
.about 
    .container.about__container
        .about__left.card
        .about__middle.card
        .about__right
            .about__20 20
            .about__text лет работает в сфере поставок оборудования для общепита, торгового и холодильного оборудования на рынке города Пензы и Пензенской области.