.news
    margin-bottom: res-h(88px)
    &__controls
        @extend .card-details__controls
        width: max-content
        margin-left: auto
        margin-top: res-h(29px)

        & > img
            display: block
