extends ./main-layout.pug
block header
    include ../../blocks/header/header.pug
block main 
block footer 
    include ../../blocks/footer/footer.pug
    include ../../blocks/modal-menu/modal-menu.pug