.middle
    position: relative
    background: url("../../../assets/images/tizer.png") no-repeat
    background-size: cover
    background-position: center
    aspect-ratio: 16 / 9

    &__back
        // height: res-h(695px)
        width: 100%

    &__input
        display: flex

    &__phone
        border: none
        border: 1px solid $button-color
        border-radius: 30px
        margin-right: -50px
        padding: 21px 50px 21px 34px
        font-size: 16px
        flex: 1 1 80%

    &__button
        flex: 1 1 33%

    & > form
        position: absolute
        width: min(885px, 95%)
        left: 50%
        top: 50%
        translate: -50% 0

        & > label
            width: min(378px,50%)
            display: block
            margin-bottom: res-h(55px)
            @media (width <= 768px)
                margin-bottom: res-h(25px)

            @media (height <=590px)
                top: 35%
                width: 95%
                margin-inline: auto

    .block-line
        position: absolute
        top: 25%

        @media (width <= 425px)
            top: 18%

        & > .container
            @media (width <= 768px)
                display: block

                .block-line__head
                    font-size: clamp(16px,64/1920*100vw,64px)
