include ../../components/block-line/block-line.pug

.middle 
    //- img.middle__back(src="../../../assets/images/tizer.png")
    //- img.middle__image.middle__image--left(src="../../../assets/images/cond.png")
    //- img.middle__image.middle__image--right(src="../../../assets/images/cond.png")
    +block-line("04/","")
        | Скидка 10% на установку сплит-системы в квартире или частном доме
    form(action="") 
        label(for="phone") Оформите заявку на установку системы кондиционирования по специальной цене
        .middle__input
            input.middle__phone#phone(type="tel" name="phone" placeholder="+7 000 000 00 00")
            button.button.middle__button Перезвоните
