
mixin attractive-item(item)
    .attractive-item.card
        if item.action
            .attractive-item__action Акция
        img(src= item.src)
        .attractive-item__footer 
            .attractive-item__left
                .attractive-item__title= item.title
                .attractive-item__name= item.name
            .attractive-item__right
                if item.price
                    +cart-button(`<s class="last-price">${item.price.last}</s><strong class="current-price">${item.price.current}</strong>`)
                else
                    +cart-button()
