.tizer 
    .tizer__picture
    .container.tizer__container
        .tizer__image.tizer__image--group
        //- .tizer__images
        //-     .tizer__image.tizer__image--back
        //-     .tizer__image.tizer__image--front
        .tizer__wrap
            h1.tizer__title Кондиционеры для домов квартир и офисов с доставкой и установкой
            .row
                h3.tizer__text 
                    p Широкий выбор промышленных
                    p и бытовых кондиционеров
                button.button.modal-switcher.tizer__button Подобрать кондиционер