.accordion#accordion 
    .accordion__container.container 
        .accordion__buttons.card
            button.button.accordion__button(data-id=0) Доставка
            button.button.accordion__button(data-id=1) Оплата
        .accordion__details
            .card(data-id=0 ) 
                p Модели серии airflow являются представителями новейшего идеально сбалансированного по своим характеристикам поколения бытовых сплит-систем и отличаются повышенной производительностью и скоростью, с которой достигается задаваемая с пульта температура. Внутренний блок выполнен в совершенно новом дизайне, задающем новый стандарт для рынка бытового кондиционирования. Для этой модели разработчики fujitsu значительно улучшили геометрию подачи воздуха, благодаря которой обеспечивается равномерное распределение воздуха в помещении. 
                p В стандартную комплектацию входят стильный пульт управления с возможностью настройки недельного таймера и комплект из подавляющего неприятные запахи фильтра ионного деодорирования и очищающего воздух яблочно- катехинового фильтра. благодаря современной эффективной системе фильтрации эти модели могут устанавливаться в помещениях с повышенными гигиеническими требованиями к чистоте воздуха, таких как спальни и детские комнаты. внутренние блоки сплит-систем серии airflow могут быть подключены к наружным блокам мультисплит-систем fujitsu. опциональные принадлежности: airpatrol wi-fi-контроллер адаптация низкотемпературным модулем до -30°с адаптация низкотемпературным модулем до -43°с wi-fi контроллер uty-tfnxz1
            .card.accordion__return(data-id=1) 
                p Процедура возврата товара регламентируется статьей 26.1 федерального закона «О защите прав потребителей».
                ul.accordion__return-list
                    li Потребитель вправе отказаться от товара в любое время до его передачи, а после передачи товара - в течение семи дней;
                    li Возврат товара надлежащего качества возможен в случае, если сохранены его товарный вид, потребительские свойства, а также документ, подтверждающий факт и условия покупки указанного товара;
                    li Потребитель не вправе отказаться от товара надлежащего качества, имеющего индивидуально-определенные свойства, если указанный товар может быть использован исключительно приобретающим его человеком;
                    li При отказе потребителя от товара продавец должен возвратить ему денежную сумму, уплаченную потребителем по договору, за исключением расходов продавца на доставку от потребителя возвращенного товара, не позднее чем через десять дней со дня предъявления потребителем соответствующего требования;
