.accordion#accordion 
    .accordion__container.container 
        .accordion__buttons.card
            button.button.accordion__button(data-id=0) Доставка
            button.button.accordion__button(data-id=1) Оплата
        .accordion__details
            .card(data-id=0 ) 
                p ДОСТАВКА ТОВАРОВ ОСУЩЕСТВЛЯЕТСЯ ПН-ПТ С 10:00 ДО 20:00
                p Сроки доставки зависят от выбранного метода доставки, можно уточнить у консультанта.
                p Минимальная партия товара - без ограничений.
                br
                p Вы можете забрать свой заказ самостоятельно из любого магазина ПромТехХолод 
                p в любое время в рамках рабочего графика
            .card.accordion__return(data-id=1) 
                p Процедура возврата товара регламентируется статьей 26.1 федерального закона «О защите прав потребителей».
                ul.accordion__return-list
                    li Потребитель вправе отказаться от товара в любое время до его передачи, а после передачи товара - в течение семи дней;
                    li Возврат товара надлежащего качества возможен в случае, если сохранены его товарный вид, потребительские свойства, а также документ, подтверждающий факт и условия покупки указанного товара;
                    li Потребитель не вправе отказаться от товара надлежащего качества, имеющего индивидуально-определенные свойства, если указанный товар может быть использован исключительно приобретающим его человеком;
                    li При отказе потребителя от товара продавец должен возвратить ему денежную сумму, уплаченную потребителем по договору, за исключением расходов продавца на доставку от потребителя возвращенного товара, не позднее чем через десять дней со дня предъявления потребителем соответствующего требования;
