.attractive-offer
    margin-bottom: res-h(145px)
    @media (width <= 768px)
        margin-bottom: 0

    &__container
        display: flex
        align-items: center
        gap: res-w(30px)
        flex-wrap: wrap

        & > *
            flex: 1 1 max(420px,49%)
