@import "@var"
.footer
    background: #fff
    padding-top: res-h(63px)
    &__main
        // display: flex
        // justify-content: space-between
        display: grid
        grid-template-columns: repeat(4,1fr)
        padding-bottom: res-h(130px)
        border-bottom: 1px solid $button-color
        column-gap: 1em
        @media (width <= 768px)
            grid-template-columns: repeat(2,1fr)
            grid-template-rows: repeat(2,1fr)

    &__block
        display: grid
        grid-template-rows: res-h(70px) auto
        row-gap: res-h(20px)
        place-items: center start

        &:last-child
            place-items: center end

        &:nth-child(2)
            place-items: center start

        &:nth-child(3)
            place-items: center center

        &:nth-child(n)
            @media (width <= 768px)
                place-items: start center

    &__menu, &__contacts
        display: flex
        flex-direction: column

    &__menu.menu
        padding: 0
        margin: 0

    &__contacts
        align-items: flex-end

    &__plug
        flex-basis: 23%

    &__footer
        border-bottom: 1px solid $button-color
        padding-bottom: res-h(130px)

    &__disclaimer
        font-size: clamp(11px,15/1024*100vw,15px)
        line-height: 18px
        padding: 40px 49px 53px

    &__contacts-title
        place-self: center end
        @media (width <= 768px)
            place-self: center

    &__menu-title
        place-self: center start
        @media (width <= 768px)
            place-self: center

    &__credits
        display: flex
        flex-direction: column
        row-gap: 1em

    &__menu
        display: flex
        flex-direction: column
        row-gap: 6px
