+block-line("01/")
    | Оформление заказа
.order__container.container 
    form.order__form
        .order__table
            .order__block 
                h3.order__title 1. Ваши данные
                label
                    header 
                        span Номер телефона
                        span.order__error Проверьте правильность введеного номера
                    input.order__input(type="tel" name="phone")
                label
                    header 
                        span E-mail
                        span.order__error Проверьте корректность введеного email
                    input.order__input(type="email" name="email" placeholder="example@mail.com" )
                label
                    header 
                        span Имя
                        span.order__error Вы забыли указать свое имя
                    input.order__input(type="email" name="firstname" placeholder="Иван" )
                label
                    header 
                        span Фамилия 
                        span.order__error Вы забыли указать свою фамилию
                    input.order__input(type="email" name="lastname" placeholder="Иванов" )

            .order__block 
                h3.order__title 2. Способы оплаты
                label
                    .order__input 
                        span При получение наличными
                        input.order__check(type="radio" name="payment")
                        .order__puck
                label
                    .order__input
                        span При получение картой или QR
                        input.order__check(type="radio" name="payment" placeholder="example@mail.com" )
                        .order__puck
                label
                    .order__input
                        span Онлайн
                        input.order__check(type="radio" name="payment" checked)
                        .order__puck
                label
                    .order__input
                        span Оплата на рассчетный счет
                        input.order__check(type="radio" name="payment")
                        .order__puck

            .order__block 
                h3.order__title 3. Способ доставки
                label
                    input.order__input(type="text" name="city" placeholder="Пенза")
                    include ../../../assets/svg/search.svg
                label
                    input.order__input(type="number" name="weight" placeholder="Вес заказа, кг")
                label
                    .order__input.order__input--column
                        p Доставка
                        p 290 руб.
                        input.order__check(type="radio" name="cargo" checked)
                        .order__puck
                label
                    .order__input.order__input--column
                        p Самовывоз 
                        p бесплатно
                        input.order__check(type="radio" name="cargo")
                        .order__puck

            .order__block.order__block--address 
                h3.order__title Адрес доставки
                label
                    input.order__input(type="text" name="address" placeholder="390007, г.Рязань, ул. Маяковского")
                    input.order__input(type="text" name="room" placeholder="Квартира")
                    input.order__input(type="text" name="entrance" placeholder="Подъезд")
                    input.order__input(type="text" name="intercom" placeholder="Домофон")
                    input.order__input(type="text" name="floor" placeholder="Этаж")

            .order__block.order__block--address  
                h3.order__title Комменатрий курьеру
                label
                    input.order__input(type="text" name="comments" placeholder="комментарий")

        .order__total