extends ../pug/templates/template.pug
include ../components/block-line/block-line.pug
include ../components/cart-button/cart-button.pug
include ../components/breadcrumbs/breadcrumbs.pug


block main 
    .card 
        - 
            const bdc = [{href:"/",text:"Главная"},{href:"/catalog.html",text:"Каталог"},{href:"#",text:"Настенные сплит системы"}, {href:"#",text:"Блок внутренний ASYG12LMCE"}]
        .container.card__container
            .card__breadcrumbs
                +breadcrumbs(...bdc)
            button.button.button--white.card__button-back Вернуться в каталог
        include ../blocks/card-details/card-details.pug
        include ../blocks/accordion/accordion.pug


