extends ../pug/templates/template.pug
include ../components/block-line/block-line.pug

block header
    include ../blocks/header/header.pug
block main 
    include ../blocks/tizer/tizer.pug
    +block-line("01/","Ниже представлен каталог с актуальными ценами")
        | Каталог товаров
    include ../blocks/product-list/product-list.pug
block footer
    include ../blocks/footer/footer.pug
    include ../blocks/modal-menu/modal-menu.pug
