extends ../pug/templates/template.pug
include ../components/block-line/block-line.pug

block main 

    include ../blocks/tizer/tizer.pug

    include ../blocks/product-list/product-list.pug

    include ../blocks/sorts/sorts.pug

    include ../blocks/specter/specter.pug

    include ../blocks/middle/middle.pug

    include ../blocks/about/about.pug

    include ../blocks/partners/partners.pug


