extends ../pug/templates/template.pug

block header
    include ../blocks/header/header.pug
block main 
    include ../blocks/tizer/tizer.pug
block footer
    include ../blocks/footer/footer.pug
    include ../blocks/modal-menu/modal-menu.pug
