extends ../pug/templates/template.pug
include ../components/block-line/block-line.pug
include ../components/cart-button/cart-button.pug
include ../components/breadcrumbs/breadcrumbs.pug


block main 
    .cart 
        - 
            const bdc = [{href:"/",text:"Главная"},{href:"#",text:"Оформление заказа"}]
        .container
            .cart__breadcrumbs
                +breadcrumbs(...bdc)

        include ../blocks/order/order.pug
        include ../blocks/middle/middle.pug



