extends ../pug/templates/template.pug
include ../components/block-line/block-line.pug
include ../components/cart-button/cart-button.pug
include ../components/breadcrumbs/breadcrumbs.pug
include ../pug/splides.pug
include ../components/list/list.pug


block main 
    .type 

        - 
            const bdc = [{href:"/",text:"Главная"},{href:"/catalog.html",text:"Каталог"}, {href:"/catalog.html",text:"Настенные сплит ситемы"}]
        .type__breadcrumbs.container
            +breadcrumbs(...bdc)

        include ../blocks/list-filter/list-filter.pug
        include ../blocks/news/news.pug
        include ../blocks/middle/middle.pug
        include ../blocks/news/news.pug



