.cart

    &__container.container
        margin-bottom: res-h(200px)

    .block-line
        margin-top: 0

    &__labels
        display: flex
        justify-content: flex-end
        align-items: center
        text-decoration: underline
        color: #fff

    &__label
        -webkit-appearance: none
        appearance: none
        border: none

        display: flex
        align-items: center
        justify-content: center

        height: 65px
        background: #91C2E2
        border-radius: 60px
        padding-inline: 16px
        cursor: pointer
        color: #fff
        font-size: 20px

    &__reset
        column-gap: 1em

        svg
            & > path
                stroke: #fff

    &__item
        margin-bottom: res-h(30px)
        display: grid
        grid-template-columns: 1.5fr 2fr 1fr 1fr 0.7fr
        column-gap: res-w(73px)
        background: #FFFFFF
        border-radius: 30px
        padding: res-h(54px) res-w(58px)

        img
            width: 100%

        @media (width <= 1024px)
            grid-template-columns: 1.5fr 2fr 1fr
            row-gap: res-h(30px)

        @media (width <= 768px)
            & > *:nth-child(2)
                grid-column: 2 / -1

        @media (width <= 550px)
            grid-template-columns: 100%
            place-items: center

            & > *:nth-child(2)
                grid-column: unset
                text-align: center

    &__item-name, &__item-price, &__total, &__total-overall
        font-size: 25px

    &__item-type, &__item-unit
        color: rgba(75, 75, 75, 0.5)

    &__overall-right
        width: min(880px, 100%)
        margin-left: auto

        background: #FFFFFF
        border-radius: 30px
        padding: res-h(54px) res-w(58px)
        display: flex
        column-gap: res-w(73px)

        & > *:nth-child(3)
            flex: 1
            min-height: 65px

        @media (width <= 550px)
            flex-direction: column
            text-align: center
            row-gap: 10px

    &__total-overall
        flex-basis: 20%
