include ../../components/list/list.pug
include ../../components/group-item/group-item.pug

+block-line("01/","Ниже представлен каталог с актуальными ценами")
    | Каталог товаров
.product-list 
    .container.product-list__container
        +list(groups)
            +group-item(val)