mixin group-item(item)
    a.group-item.card(href= item.href)
        img.group-item__image(src= item.image)
        div.group-item__ref
            .group-item__name= item.name
            img(src="../../../assets/svg/arrow-right.svg")