mixin specter-item(item)
    a.specter-item.card(href= item.href)
        .specter-item__plug
            img.specter-item__image(src= item.src)
        .specter-item__wrap
            .specter-item__name= item.name

