include ../../components/list/list.pug
include ../../components/specter-item/specter-item.pug

+block-line("03/","Климатическое оборудование используется в помещениях различного вида использования")
    | Широкий спектр применения оборудования
.specter 
    .container.specter__container
        +list(specter)
            +specter-item(val)