mixin similar-item(item)
    .similar-item.card 
        if item.new 
            .similar-item__new Новинка
        .similar-item__image
            img(src= item.src)
        .similar-item__title= item.title
        .similar-item__name= item.name
        .similar-item__button
            if item.price
                +cart-button(`<s class="last-price">${item.price.last}</s><strong class="current-price">${item.price.current}</strong>`)
            else
                +cart-button()
