.list-filter
    margin-block: res-h(70px) res-h(139px)
    position: relative
    &__container
        display: grid
        grid-template-columns: 25% 73%
        column-gap: res-w(30px)
        transition: $std-time

        @media (width <= 1024px)
            grid-template-columns: 100%

    &__list
        & > .list
            grid-template-columns: repeat(3, 33%)
            @media (width <= 1024px)
                grid-template-columns: repeat(3,33%)
            @media (width <= 680px)
                grid-template-columns: repeat(2,49%)
            @media (width <= 500px)
                grid-template-columns: 100%

        & > .button
            display: block
            margin: res-h(57px) auto 0

    &__trigger-title
        display: flex
        align-items: center
        justify-content: space-between
        column-gap: 2em
        position: absolute
        top: 0
        top: -2em
        left: min(99px, 5vw)
        // rotate: 0 0 1 -90deg
        translate: -30px 0px
        font-size: clamp(20px,25/1024*100vw,25px)
        z-index: 10
        @media (width <= 1024px)
            rotate: 0 0
            // left: max(1em, 3.125vw)

        & > img
            rotate: 0
            transition: transform $std-time

    &__trigger
        position: absolute
        top: -4em
        left: min(60px, 5vw)
        height: 3em
        z-index: 11
        opacity: 0
        width: 13em
        @media (width <= 1024px)
            left: max(1em, 3.125vw)
            top: -2.4em
            height: 3em

        &:checked
            & ~ .list-filter__container
                grid-template-columns: 0% 100%
                gap: 0
                & .filter
                    padding: 0
                    @media (width <= 1024px)
                        width: 0
                @media (width <= 1024px)
                    grid-template-columns: 100%

                & .list
                    grid-template-columns: repeat(4,24%)
                    @media (width <= 1024px)
                        grid-template-columns: repeat(3,33%)
                    @media (width <= 680px)
                        grid-template-columns: repeat(2,49%)
                    @media (width <= 500px)
                        grid-template-columns: 100%

            & ~ .list-filter__trigger-title
                & > img
                    rotate: 180deg

    &__filter
        @media (width <= 1024px)
            position: absolute
            z-index: 5

    & .similar-item
        width: 96%
